.contacts__intro {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;

  color: @blue;
}

.contacts b {
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 700;
  text-align: center;

  color: @blue;
}

.contacts a {
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 700;
  text-align: center;

  color: @pink;
}
